.container1{
    display: flex;  /*aligns the divs next to each other*/
    /*border: solid;
    border-color: red;*/
    background-color: #1F2937;

    /*
    align-items: flex-start; resizes the box up or down to align the box depending on the amount of content within it
    align-items: flex-end;
    align-items: center; aligns the box to the center
    align-items: stretch; <-- This is the default setting
    flex-direction: column; <-- aligns the boxes vertically*/
}

.container1 div{
    /*border: solid;
    border-color: yellow;*/
    padding: 10px; /**/
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 4.5%;
}

.container1 .box1{
    flex: 2;   /*extends the div,or box1, horizontally*/
    /*if you use 'order' you can specify the order in which the boxes will appear from left to right*/
}

.container1 .box1 #header_logo{
    color: #F9FAF8;
    font-size: 24px;
}

.container1 .box2{
    flex: 1;
    padding-top: 1.5%; 
}

.container1 .box2 #link_one{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container1 .box2 #link_two{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.container1 .box2 #link_three{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}



.container2{
    display: flex;  /*aligns the divs next to each other*/
    /*border: solid;
    border-color: aqua;*/
    background-color: #1F2937;
    /*
    align-items: flex-start; resizes the box up or down to align the box depending on the amount of content within it
    align-items: flex-end;
    align-items: center; aligns the box to the center
    align-items: stretch; <-- This is the default setting
    flex-direction: column; <-- aligns the boxes vertically*/
}

.container2 div{
    /*border: solid;
    border-color: orange;*/
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 3.5%;
    padding-left: 4.5%;
}

.container2 .box1 #title{
    font-size: 48px;
    color: #F9FAF8;
}

.container2 .box1 #prompt{
    font-size: 18px;
    color: #E5E7EB;
}

.container2 .box1 #Sign-Up_Button{
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    width: 25%;
    padding: 10px 28px;
    font-weight: bold;
}


/*.container2 .box1 .awesome #Sign-Up_Button:hover{
    background-color: white;
    color: #3882F6;
    border-radius: 12px;
}*/

.container2 .box1{
    flex: 1;
    padding-top: 1.5%; 
    /*border: solid;
    border-color: limegreen;*/
}

.container2 .box2{
    flex: 1;
    padding-top: 1.5%; 
}


.container2 .box2 #photo{
    width: 750px;
    height: 300px;
    object-fit: contain;
}

.container3 .box1{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container3 .box1 #title{
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
}

.container4{
    display: flex;
    /*width: 55%;*/
    align-content: center;
    justify-content: center;
}

.container4 .box1{
    flex: 1;
    width: 15%;
    height: 15%;
    text-align: center;
    margin-left: 15%;
}

.container4 .box2{
    flex: 1;
    width: 15%;
    height: 15%;
    text-align: center;
}

.container4 .box3{
    flex: 1;
    width: 15%;
    height: 15%;
    text-align: center;
}

.container4 .box4{
    flex: 1;
    width: 15%;
    height: 15%;
    text-align: center;
    margin-right: 15%;
}

.container4 .box1 #london{
    width: 95%;
    height: 35%;
    object-fit: contain;
}


.container4 .box2 #versaille{
    width: 95%;
    height: 35%;
    object-fit: contain;
    margin-left: 18%;
}

.container4 .box3 #manchester{
    width: 63%;
    height: 35%;
    object-fit: contain;
    margin-left: 27%;
}

.container4 .box4 #medellin{
    width: 63%;
    height: 35%;
    object-fit: contain;
}

.container5{
    display: flex;
    background-color: #E5E7EB;
}













































.container7{
    background-color: #1F2937;
    display: flex;
}

.container7 .box1{
    border: solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container7 .box1 #copyright{
    font-size: 18px;
    color: #E5E7EB;
}

